.root {
    -fx-accent: #3b4148;
    -fx-focus-color: #3b4148;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #3b4148;
    -fx-font-size: 16px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.button:hover{
    -fx-background-color: #4d555e;
}

.dialog, .header-panel{
    -fx-background-color: #b7c5c9;
    -fx-padding: 10px;
}

.header-panel{
    -fx-text-fill: #3b4148;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.label{
    -fx-text-fill: #444b54;
}